:root{
  --clr-main-100: #FFF;
  --clr-main-300: #A3A9E060;
  --clr-main-400: #4754C2;
  --clr-main-600: #303A88;
  --clr-main-800: #1E245C;
  --clr-main-1000: #000;

  --ff-primary: "Prompt", normal;
  font-size: 75%;
  overflow: hidden;
}

[data-theme="dark"] {
  --clr-main-100: #000;
  --clr-main-300: #C2C8FE20;
  --clr-main-400: #B0B7FC;
  --clr-main-600: #D1D4F0;
  --clr-main-800: #EEF1FC;
  --clr-main-1000: #FFF;
}

.pageContainer{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: var(--clr-main-100);
}

.split {
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: auto;
  text-align: center;
  z-index:1;
}

.left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.right {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

h1 {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--clr-main-800);
}

.title {
  font-family: var(--ff-primary);
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--clr-main-400);
  transition: all 0.6s;
}

.title.pre-animation {
  opacity:0;
}

h3 {
  font-family: var(--ff-primary);
  font-weight: 100;
  width: 25em;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--clr-main-600);
  margin-left: auto; 
  margin-right: 0;
}

h4 {
  font-family: var(--ff-primary);
  font-weight: 100;
  font-size: 1.6rem;
  width: 19em;
  line-height: 1.6;
  color: var(--clr-main-1000);
  margin-bottom: 2em;
}

.buttonContainer {
  font-family: Prompt;
  margin-block: 4vh;
}

.dot {
  position: absolute;
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  background-color: var(--clr-main-300); 
  filter: blur(1rem);
}

.first {
  left: -10vw;
  top: -10vh;

  --time: 3s;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.second {
  left: 80vw;
  top: 10vh;

  --time: 3.5s;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@media (min-width: 60em) {  
  .left {
    position:relative;
    top: 20vh;
    text-align: right;
  }
  .right {
    position:relative;
    top: 23vh;
    text-align: left;
    margin-left: 5vw;
  }
  .title {
    position:relative;
    top: -1vh;
  }
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
}
/* 
@media (max-width: 60em) {
  .split > * {
    margin: 0 !important;
  }
} */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}